<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

    <gazebo reference="base_link">
        <material>Gazebo/Red</material>
    </gazebo>

    <gazebo>
        <plugin name="p3d_base_controller" filename="libgazebo_ros_p3d.so">
            <ros>
                <argument>/odom:=odom/robot_pos</argument>
            </ros>
            <body_name>base_link</body_name>
            <frame_name>world</frame_name>
            <update_rate>30.0</update_rate>
            <xyz_offset>0 0 0</xyz_offset>
            <rpy_offset>0 0 0</rpy_offset>
            <gaussian_noise>0.01</gaussian_noise>
        </plugin>
    </gazebo>

    <gazebo>
        <plugin name="gazebo_ros2_control" filename="libgazebo_ros2_control.so">
            <parameters>$(find tbt_otonom_sim)/config/ros_control.yaml</parameters>
        </plugin>
    </gazebo>

</robot>